
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


a {
    color: #ef0062;
}
a:hover, a:focus {
    color: #ef0062;
    text-decoration: underline;
}

.panel-default > .panel-heading {
    color: #b00000;
}

.navbar-default .navbar-nav > li > a {
    color: #b00000;
}

.form-control:focus { 
    border-color: #fff0e9 !important;
}

.form-control:focus { 
    border-color: #ffcdb6 !important;
}

.btn-primary{
    color: #fff;
    background-color: #ff030b;
    border-color: #fff0e9;
}

.btn-link {
    color: #d1303f;
    font-weight: normal;
    border-radius: 0;
}

.carousel-inner > .item {
    padding: 0 0 0 154px;
}

h3, .h3 {
    color: #f01f1f;
    font-family: Dancing Script;
}

p {
    color: #b00000;
}

.carousel-caption {
    text-align: right;
}

input, button, select, textarea {
    font-family: sans-serif;
    font-size: inherit;
    line-height: inherit;
}

.col-md-12 {
    overflow: auto;
}

@media (max-width: 600px) {

    .carousel-inner > .item {
        padding: 0;
    }

    .carousel-caption {
        text-align: right;
        top: 141px;
    }
}